body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffa500, #eaea46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.2);
    cursor: pointer;
  }

  .calculator h1 {
    color: rgb(219, 94, 115);
    font-style: inherit;
    text-align: center;
  }
  
  .display {
    width: 350px;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    background-color: #555;
    color: white;
    border: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #c3bebe;
  }

  .zero {
    grid-column: 1 / span 2;
  }

  .buttons button:nth-child(1),
  .buttons button:nth-child(2),
  .buttons button:nth-child(3),
  .buttons button:nth-child(4) {
       background-color: goldenrod;
       color: white;
  }

  .buttons button:nth-child(1):hover,
  .buttons button:nth-child(2):hover,
  .buttons button:nth-child(3):hover,
  .buttons button:nth-child(4):hover {
       background-color: lightskyblue;
       color: white;
  }

  .buttons button:last-child {
    background-color: lightskyblue;
  }

  .buttons button:last-child:hover {
    background-color: lightskyblue;
  }

  button:active {
    background-color: #c3bebe;
  }